</script>
<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Side Bar
                    </a>
                </li>
                <li>
                    <a href="#">Part1</a>
                </li>
                <li>
                    <a href="#">Part2</a>
                </li>
                <li>
                    <a href="#">Part3</a>
                </li>
                <li>
                    <a href="#">Part4</a>
                </li>
                <li>
                    <a href="#">Part5</a>
                </li>
                <li>
                    <a href="#">Part6</a>
                </li>
                <li>
                    <a href="#">Part7</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
<h1> Contenido</h1>
<p></p>
