<div class="container">
	<div class="row">
			<div class="col-md-4">
				<%= link_to image_tag("listalogo.png")%>
			</div>

			<div class="col-md-8 hidden-xs" >
				<p style="color:#3393ED; font-family:'Times New Roman'; font-size: 70px;">Lista Médica </p>
			</div>
				
	</div>
</div>